<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Postulate con Nosotros</h3>
  <form action="/post/add" method="POST">
    <div>
      <label for="nombre">Nombre: </label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        placeholder="Nombre"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>
    <div>
      <label for="apellido">Apellido: </label>
      <input
        type="text"
        id="apellido"
        name="apellido"
        placeholder="Apellido"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>
    <div>
      <label for="edad">Edad: </label>
      <input
        type="number"
        id="edad"
        name="edad"
        placeholder="Edad"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>
    <div>
      <label for="correo">Correo: </label>
      <input
        type="email"
        id="correo"
        name="correo"
        placeholder="Ingresa un Correo"
        class="form-control rounded-0 bg-dark text-white"
      />

    </div>
    <div>

      <label for="curriculum">Curriculum: </label>
      <textarea
        id="curriculum"
        name="curriculum"
        placeholder="Cuentanos de ti"
        class="form-control rounded-0 bg-dark text-white"
      ></textarea>
    </div>
    <button class="">Compartir Curriculum</button>
  </form>
</div>